<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Superdash</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li>
        <ul class="stats">
          <li title="Stopped processes"><i class="stopped">&nbsp;</i> {{(hosts | map: 'processes' | flatten | pick: 'state == 0 || state == 100').length}}</li>
          <li title="Running processes"><i class="running">&nbsp;</i> {{(hosts | map: 'processes' | flatten | where: { state: 20 }).length}}</li>
          <li title="Transitioning processes" ng-switch on="allTransCount = (hosts | map: 'processes' | flatten | pick: 'state == 10 || state == 30 || state == 40').length">
            <span ng-switch-when="0"></span>
            <span ng-switch-default><i class="transitioning">&nbsp;</i> {{allTransCount}}</span>
          </li>
          <li title="Failed processes" ng-switch on="allFailCount = (hosts | map: 'processes' | flatten | where: { state: 200 }).length">
            <span ng-switch-when="0"></span>
            <span ng-switch-default><i class="fatal">&nbsp;</i> {{allFailCount}}</span>
          </li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/#add-host">Add Host</a></li>
    </ul>
  </div>
</div>
<div class="container">
  <div class="row" ng-if="showHostForm">
    <div class="col-md-12">
      <a name="add-host"></a>
      <h4>Add Host</h4>
      <form ng-controller="AddHostCtrl" ng-submit="submit()" class="add-host" name="add-host">
        <input type="text" ng-model="name" placeholder="Name" autofocus>
        <input type="text" ng-model="host" placeholder="IP or hostname">
        <input type="text" ng-model="port" placeholder="Port">
        <input type="submit" class="btn btn-default" value="Add Host">
        <a href="" ng-click="cancel()">Cancel</a>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="hosts">
        <div class="host" ng-repeat="(_, host) in hosts | reverse" ng-controller="HostCtrl">
          <div class="summary">
            <div class="info">
              <h3>{{host.name}}</h3>
              <span class="url">http://{{host.host}}:{{host.port}}</span>
              <ul class="stats">
                <li title="Stopped processes"><i class="stopped">&nbsp;</i> {{(host.processes | pick: 'state == 0 || state == 100').length}}</li>
                <li title="Running processes"><i class="running">&nbsp;</i> {{(host.processes | where: { state: 20 }).length}}</li>
                <li title="Transitioning processes" ng-switch on="transCount = (host.processes | pick: 'state == 10 || state == 30 || state == 40').length">
                  <span ng-switch-when="0"></span>
                  <span ng-switch-default><i class="transitioning">&nbsp;</i> {{transCount}}</span>
                </li>
                <li title="Failed processes" ng-switch on="failCount = (host.processes | where: { state: 200 }).length">
                  <span ng-switch-when="0"></span>
                  <span ng-switch-default><i class="fatal">&nbsp;</i> {{failCount}}</span>
                </li>
              </ul>
            </div>
            <a href="" ng-click="toggleExpansion(host)" class="expando">
              <i ng-if="expanded[host.id]" title="Hide details" class="fa fa-chevron-up"></i>
              <i ng-if="!expanded[host.id]" title="Show details" class="fa fa-chevron-down"></i>
            </a>
            <a href="" ng-click="remove(host)" class="remove">
              <i title="Remove host" class="fa fa-remove"></i>
            </a>
          </div>
          <div ng-class="{ details: true, expanded: expanded[host.id], collapsed: !expanded[host.id] }">
            <div ng-if="!host.error" class="control">
              <button ng-disabled="!host.connected" class="btn btn-default">Start All</button>
              <button ng-disabled="!host.connected" class="btn btn-default">Stop All</button>
              <button ng-disabled="!host.connected" class="btn btn-default">Restart All</button>
            </div>
            <div ng-if="host.connected" class="processes" ng-repeat="(group, processes) in host.processes | groupBy: 'group'">
              <div class="process" ng-repeat="process in processes" ng-controller="ProcessCtrl">
                <section class="{{process.state | processState}}">
                  <div class="row">
                    <div class="col-md-7">
                      <a href="/hosts/{{host.id}}/logs?group={{process.group | urlEscape}}&name={{process.name | urlEscape}}" target="_blank"><i class="inspect fa fa-external-link"></i></a>
                      <span class="group">{{process.group}}</span> {{process.name}}
                    </div>
                    <div class="col-md-1">{{process.state | processState}}</div>
                    <div class="col-md-2">
                      <div class="pull-right">
                        <span class="logs">
                          <span ng-click="toggleLog(process)" title="View stdout log">out</span> &bull;
                          <span title="View stderr log">err</span>
                        </span>
                      </div>
                    </div>
                    <div class="col-md-2">
                      <div class="pull-right">
                        <button ng-disabled="updating[process]"
                                ng-class="{ btn: true, 'btn-default': true, updating: updating[process] }"
                                ng-click="control(process, 'start')"
                                ng-if="process.state == states.stopped || process.state == states.fatal || process.state == states.exited">
                          <span ng-if="updating[process]">&nbsp;</span>
                          <span ng-if="!updating[process]">Start</span>
                        </button>
                        <button ng-disabled="updating[process]"
                                ng-class="{ btn: true, 'btn-default': true, updating: updating[process] }"
                                ng-click="control(process, 'stop')"
                                ng-if="process.state == states.running">
                          <span ng-if="updating[process]">&nbsp;</span>
                          <span ng-if="!updating[process]">Stop</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </section>
                <section ng-if="logEnabled[process]" autoscroll="log[process]" class="log-container">
                  <div class="row">
                    <div class="col-md-12 log" ng-bind-html="log[process]"></div>
                  </div>
                </section>
              </div>
            </div>
            <div ng-if="host.error">
              <div class="alert alert-danger">
                Cannot connect to host.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
