<html>
<head>
  <script src="/public/angular.min.js"></script>
  <script src="/public/angular-filter.min.js"></script>
  <script src="/public/app.js"></script>
</head>
<body ng-app="superdash" ng-controller="DashboardCtrl">
  <form ng-controller="CreateHostCtrl" ng-submit="submit()">
    <input type="text" ng-model="name" placeholder="Name">
    <input type="text" ng-model="host" placeholder="IP or hostname">
    <input type="text" ng-model="port" placeholder="Port" value="9001">
    <input type="submit" value="Add Host">
  </form>
  <a href="">Flat List</a> | <a href="">By Server</a> | <a href="">By Group</a>
  <ul>
    <li ng-repeat="(_, host) in hosts" ng-controller="HostCtrl">
      {{host.name}} <a href="" ng-click="delete(host)">delete</a>
      <ul>
        <li ng-repeat="(group, processes) in host.processes | groupBy: 'group'">
          {{group}}
          <ul>
            <li ng-repeat="process in processes" ng-controller="ProcessCtrl">
              {{process.name}}
              <a href="" ng-if="process.state == 0" ng-click="control(process, 'start')">start</a>
              <a href="" ng-if="process.state == 20" ng-click="control(process, 'stop')">stop</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</body>
</html>
