<html>
<head>
  <title>Superdash</title>
  <link rel="stylesheet" type="text/css" href="/public/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/public/app.css" />
  <link rel="stylesheet" type="text/css" href="/public/ansi.css" />
  <script src="/public/jquery-2.1.1.min.js"></script>
  <script src="/public/angular.min.js"></script>
  <script src="/public/angular-filter.js"></script>
  <script src="/public/app.js"></script>
  <script src="/public/ansi.js"></script>
  <script src="/public/bootstrap.min.js"></script>
</head>
<body ng-app="superdash" ng-controller="DashboardCtrl">
  <%= yield %>
</body>
</html>
