<html>
<head>
  <title>Superdash</title>
  <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/app.css" />
  <link rel="stylesheet" type="text/css" href="/public/css/ansi.css" />
  <script src="/public/js/jquery-2.1.1.min.js"></script>
  <script src="/public/js/angular.min.js"></script>
  <script src="/public/js/angular-filter.js"></script>
  <script src="/public/js/app.js"></script>
  <script src="/public/js/ansi.js"></script>
  <script src="/public/js/bootstrap.min.js"></script>
</head>
<body ng-app="superdash" ng-controller="DashboardCtrl">
  <%= yield %>
</body>
</html>
