body {
  font-size: 16px;
}
.host {
  margin-bottom: 40px;
}
.host .summary h3, .process h3 {
  display: inline-block;
  margin-right: 20px;
}
.host .summary .url, .process .host {
  margin-right: 20px;
}
.host .summary .version {
}
.host .summary .delete {
  display: none;
}
.host .summary:hover .delete {
  display: inline;
}
.host .control {
  border-top: 1px solid #eee;
  padding: 10px 0 12px 0;
  margin-bottom: 5px;
}
.separator {
  border-top: 1px solid #eee;
  padding: 5px 0;
}
.host .process section {
  margin-bottom: 3px;
  padding: 3px 6px 6px 0;
  line-height: 39px;
}
.host .process .group {
  color: #999;
  text-transform: uppercase;
  font-size: smaller;
  margin: 0 10px;
}
.host .process .stopped {
  background: #f0f0f0;
}
.host .process .running {
  background: #cff5c8;
}
.host .process .log-container {
  background: #fbfbfb;
  margin-top: -3px;
  overflow: auto;
}
.host .process .log {
  height: 300px;
  white-space: pre;
  font-family: Consolas, Monaco, monospace;
  line-height: 150%;
  font-size: smaller;
}
.log-details .log-container {
  background: #fafafa;
}
.log-details .log {
  white-space: pre;
  font-family: Consolas, Monaco, monospace;
  line-height: 150%;
}
.btn.updating {
  background-image: url('/public/spinner.gif');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}
.add-host input[type="submit"]{
  margin-left: 10px;
  margin-right: 10px;
}
textarea:focus, input:focus {
  outline: 0;
}
.updating {
  cursor: wait;
}
.alert-danger {
  color: #fff;
  background: #e77;
}
.full-logs {
  color: #777;
  font-size: smaller;
  position: relative;
  top: 4px;
}
