body {
  font-size: 16px;
}
.host {
  margin-bottom: 40px;
}
.host .summary h3 {
  display: inline-block;
  margin-right: 20px;
}
.host .summary .url {
  margin-right: 20px;
}
.host .summary .version {
}
.host .summary .delete {
  display: none;
}
.host .summary:hover .delete {
  display: inline;
}
.host .control {
  border-top: 1px solid #eee;
  padding: 10px 0 12px 0;
  margin-bottom: 5px;
}
.host .process section {
  margin-bottom: 3px;
  padding: 3px 6px 6px 0;
  line-height: 39px;
}
.host .process .group {
  color: #999;
  text-transform: uppercase;
  font-size: smaller;
  margin: 0 10px;
}
.host .process .stopped {
  background: #f0f0f0;
}
.host .process .running {
  background: #cff5c8;
}
.host .process .log-container {
  background: #fdfdfd;
  margin-top: -3px;
}
.host .process .log {
  height: 200px;
  overflow: auto;
  white-space: pre;
  font-family: Consolas, Monaco, monospace;
  line-height: 150%;
  font-size: smaller;
}
.alert-danger {
  color: #fff;
  background: #e77;
}
